.fondImage {
  background: url(../fond.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fondImage * {
  color: #fff;
}

.fondImage header {
  min-height: 67vh;
  padding-top: 4rem;
}

header h2 {
  text-align: right;
}

.timetable .time-entry {
  background-color: blueviolet;
  border: none;
}
